<div class="d-flex justify-content-center mx-5 row">
  <h1 class="mb-1 restaurant-show-title">{{restaurant.name}}</h1>
  <form action="/restaurants/{{restaurant._id}}/edit" method="POST" class="w-50 mt-2 px-5" id="input-container">
    <div class="input-group mb-3">
      <span class="input-group-text" id="inputGroup-sizing-default">中文名稱</span>
      <input type="text" class="form-control" aria-label="Sizing example input"
        aria-describedby="inputGroup-sizing-default" name="name" value="{{restaurant.name}}">
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text" id="inputGroup-sizing-default">英文名稱</span>
      <input type="text" class="form-control" aria-label="Sizing example input"
        aria-describedby="inputGroup-sizing-default" name="name_en" value="{{restaurant.name_en}}">
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text" id="inputGroup-sizing-default">餐廳類型</span>
      <input type="text" class="form-control" aria-label="Sizing example input"
        aria-describedby="inputGroup-sizing-default" name="category" value="{{restaurant.category}}">
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text" id="inputGroup-sizing-default">圖片連結</span>
      <input type="text" class="form-control" aria-label="Sizing example input"
        aria-describedby="inputGroup-sizing-default" name="image" value="{{restaurant.image}}">
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text" id="inputGroup-sizing-default">地址</span>
      <input type="text" class="form-control" aria-label="Sizing example input"
        aria-describedby="inputGroup-sizing-default" name="location" value="{{restaurant.location}}">
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text" id="inputGroup-sizing-default">聯絡電話</span>
      <input type="text" class="form-control" aria-label="Sizing example input"
        aria-describedby="inputGroup-sizing-default" name="phone" value="{{restaurant.phone}}">
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text" id="inputGroup-sizing-default">Google map</span>
      <input type="text" class="form-control" aria-label="Sizing example input"
        aria-describedby="inputGroup-sizing-default" name="google_map" value="{{restaurant.google_map}}">
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text" id="inputGroup-sizing-default">評分</span>
      <input type="text" class="form-control" aria-label="Sizing example input"
        aria-describedby="inputGroup-sizing-default" name="rating" value="{{restaurant.rating}}">
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text" id="inputGroup-sizing-default">描述</span>
      <input type="text" class="form-control" aria-label="Sizing example input"
        aria-describedby="inputGroup-sizing-default" name="description" value="{{restaurant.description}}">
    </div>
</div>
<div class="container d-flex justify-content-center mb-3">
  <form action="/restaurants/{{restaurant._id}}/edit" method="POST">
    <button type="submit" class="btn btn-secondary mx-2">儲存修改</button>
    <a href="/" class="btn btn-primary">返回</a>
  </form>
</div>
</form>